
<!DOCTYPE html>
<html lang="en" translate="no">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
    <!-- CSS files -->
    @* <link rel="icon" type="image/x-icon" href="/static/faviicon.png"> *@
    <link href="/dist/css/tabler.min.css?1684106062" rel="stylesheet" />
    <link href="/dist/css/tabler-payments.min.css?1684106062" rel="stylesheet" />
    @* <link href="/dist/css/webfont/tabler-icons.min.css" rel="stylesheet" /> *@
    <link href="/dist/css/tabler-vendors.min.css?1684106062" rel="stylesheet" />
    <link href="/dist/css/demo.min.css?1684106062" rel="stylesheet" />
    <link href="/dist/css/Custom.css" rel="stylesheet" />
    <link href="/dist/libs/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <style>
        .quanly-menu {
            transition: background 0.3s;
        }

            .quanly-menu:hover {
                background: #0d459c;
            }

            .quanly-menu .nav-link {
                color: white !important;
            }
    </style>
    @RenderSection("Styles", required: false)
</head>
<body class="layout-fluid">
    <div class="page">
        <div class="sticky-top">
            <header class="navbar navbar-expand-md sticky-top d-print-none">
                <div class="background"></div>
                <div class="container-xl" style="max-width: none;">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3 py-0">
                        <a class="text-white" href="/">
                            <img src="/static/logo.png" width="110" height="32" class="navbar-brand-image">
                            SixOs
                        </a>
                    </h1>
                    <div class="nav-item dropdown me-2 p-2 quanly-menu">
                        <a href="#" class="nav-link dropdown-toggle text-white fw-bold" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                            Quản lý
                        </a>
                        <div class="dropdown-menu p-3" style="min-width: 400px;">
                            <div class="row">
                                <!-- Cột bên trái -->
                                <div class="col-6">
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Home">Trang chủ</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="C0305PhieuNhap">Phiếu nhập</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="TomSelect">TomSelect</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Input">Input</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Setting">Cấu hình</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Log">Lịch sử</a>
                                </div>

                                <!-- Cột bên phải -->
                                <div class="col-6">
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Role">Quản lý quyền</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Branch">Chi nhánh</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Department">Phòng ban</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Product">Sản phẩm</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Order">Đơn hàng</a>
                                    <a class="dropdown-item" asp-action="Index" asp-controller="Customer">Khách hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="navbar-nav flex-row order-md-last">
                        <div class="nav-item dropdown">
                            @*đổi link ảnh chổ đây nè*@
                            <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu">
                                <div class="d-none d-xl-block ps-2">
                                    <div class="small text-muted" style="color:#ebf9fd !important;">
                                        Account
                                    </div>
                                    <div class="mt-1" style="color: #ffffff !important;" id="tenNhanVien">
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <a href="/DoiMatKhau" class="dropdown-item">Đổi mật khẩu</a>
                                <a href="/logout" class="dropdown-item">Đăng xuất</a>
                            </div>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <div class="d-flex flex-column flex-md-row align-items-stretch align-items-md-center">
                            <ul class="navbar-nav">
                            </ul>
                        </div>
                        <div class="my-2 my-md-0 flex-grow-1 flex-fill order-first order-md-last">
                            <div id="titleCN" class="card p-1 text-center text-uppercase fw-bold text-blue" style="border-radius:10rem;">
                                @ViewData["Title"]
                            </div>
                        </div>
                        <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-first order-md-last">
                            <div>
                                <div class="input-icon me-2">
                                    <input type="text" autocomplete="off" id="TimKiemChucNang" class="form-control" data-bs-toggle="dropdown" placeholder="Tìm kiếm..." data-bs-target="#dropdownSearchMenu" aria-expanded="false">
                                    <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card" aria-labelledby="TimKiemChucNang">
                                        <div class="card" style="max-height:60vh; overflow:auto;" id="cardDropdownSearch">
                                            <div id="divDropdownSearch" class="list-group list-group-flush list-group-hoverable">
                                            </div>
                                        </div>
                                    </div>
                                    <span class="input-icon-addon text-white">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
                                            <path d="M21 21l-6 -6"></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div class="page-wrapper">
            @RenderBody()
        </div>

        <footer class="footer footer-transparent d-print-none pb-2 p-0">
            <div class="container-xl">
                <div class="row text-center align-items-center flex-row-reverse">
                    <div class="col-lg-auto ms-lg-auto"></div>
                    <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                        <ul class="list-inline list-inline-dots mb-0">
                            <li class="list-inline-item">Đơn vị phối hợp thực hiện</li>
                            <li class="list-inline-item">Công ty TNHH phần mềm Vũ Phong</li>
                            <li class="list-inline-item">Website: <a href="https://sixossoft.com/" target="_blank">SixOsSoft.com</a> </li>
                            <li class="list-inline-item">Email: Vuphongsoft@gmail.com</li>
                            <li class="list-inline-item">SĐT: 0901.87.88.96</li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="/dist/libs/apexcharts/dist/apexcharts.min.js" defer></script>
    <script src="/dist/libs/tom-select/dist/js/tom-select.base.js" defer asp-append-version="true"></script>
    <script src="/dist/libs/datetimepicker/popper.min.js" defer></script>
    <script src="/dist/libs/datetimepicker/moment.min.js" defer></script>
    <script src="/dist/libs/datetimepicker/moment-with-locales.min.js" defer></script>
    <script src="/dist/libs/datetimepicker/bootstrap-datetimepicker.min.js" defer></script>
    <script src="/dist/libs/Jquery/jquery.inputmask.js" defer></script>
    <script src="/dist/libs/popper.js/umd/popper.min.js" defer></script>
    <script src="/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>

    <script src="/dist/libs/Jquery/jquery.min.js"></script>

    <!-- DataTables -->
    <script src="/dist/libs/datatables/jquery.dataTables.min.js"></script>
    <script src="/dist/libs/datatables/dataTables.fixedColumns.min.js"></script>

    <script>
        var _admin = true;
        var _idNVDN = 1;
        var _idcn = 1;
        var _tenChiNhanh = "Cơ sở 1";
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
